.shadow-1 {
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
}
.shadow-2 {
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
.p-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img-src-center {
  object-fit: cover;
}
.input-1 {
  border: 1px solid #999999;
  border-radius: 3.8px;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition-duration: 0.3s;
}
.input-1:hover {
  border: 1px solid #9d2933;
}
.button-1 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-1:hover {
  color: #000;
}
.button-122 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-122:hover {
  color: #000;
}
.button-2-active {
  background: #1e88c7;
  color: #d0eeff;
  outline: none;
  border: 1px solid #1e88c7;
}
.button-2-active:hover {
  background: #1e88c7;
  border: 1px solid #1e88c7;
  color: #d0eeff;
}
.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0eeff;
  border: 1px solid #99d3f5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}
.button-2:hover {
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
}
.button-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-3:hover {
  background: #9d2933;
  color: #fff;
}
.button-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #999999;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-4:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.button-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-5:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.editormd-preview-container,
.editormd-html-preview {
  font-size: inherit;
}
.test-editormd,
#test-editormd {
  font-size: 1.1rem;
  padding: 0px;
  color: #636b6f;
}
.test-editormd .editormd-github-link-icon,
#test-editormd .editormd-github-link-icon {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.test-editormd .linkcard-container,
#test-editormd .linkcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.test-editormd .linkcard-container .linkcard,
#test-editormd .linkcard-container .linkcard {
  line-height: normal;
  text-decoration: none;
  width: 20rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  height: 5.2rem;
  border-radius: 0.8rem;
  margin: 0.6rem;
  margin-left: 4.6rem;
  margin-right: 4.6rem;
  transition: 0.3s;
  cursor: pointer;
  padding: 1rem;
}
.test-editormd .linkcard-container .linkcard .linkcard-main,
#test-editormd .linkcard-container .linkcard .linkcard-main {
  flex-grow: 1;
  color: #666;
}
.test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-title,
#test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: normal;
  text-overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
}
.test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container,
#test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container i,
#test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container i {
  margin-right: 0.3rem;
  font-size: 0.93rem;
  margin-top: 0.18rem;
}
.test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container .linkcard-main-url,
#test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container .linkcard-main-url {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-editormd .linkcard-container .linkcard .linkcard-img,
#test-editormd .linkcard-container .linkcard .linkcard-img {
  width: 5rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: none;
  padding: 0;
  background: url(../../images/editor/web.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.test-editormd .linkcard-container .linkcard:hover,
#test-editormd .linkcard-container .linkcard:hover {
  background: #ccc;
}
.test-editormd .img-container,
#test-editormd .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test-editormd .img-container img,
#test-editormd .img-container img {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
}
.test-editormd .img-container .img-p-small,
#test-editormd .img-container .img-p-small {
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: 100%;
}
.test-editormd pre.prettyprint,
#test-editormd pre.prettyprint {
  border: none;
}
.test-editormd ol.linenums,
#test-editormd ol.linenums {
  color: #999;
}
.test-editormd blockquote,
#test-editormd blockquote {
  padding-left: 0.8rem;
  font-style: normal;
}
.test-editormd hr,
#test-editormd hr {
  margin: 3rem;
  margin-right: 5rem;
  margin-left: 5rem;
}
.test-editormd pre ol li,
#test-editormd pre ol li {
  background: none;
}
.test-editormd p,
#test-editormd p {
  line-height: 2.33rem;
}
.test-editormd p code,
#test-editormd p code {
  color: #9d2933;
  font-weight: 700;
  border: none;
}
.editormd ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radisu: 0px;
}
.editormd ::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.05);
}
pre {
  background: red;
}
.float-view {
  display: none;
}
.main {
  display: grid;
  grid-template-rows: 100% 100%;
  grid-template-columns: 28% 72%;
  overflow: none;
}
.left-bar {
  width: 51px;
  height: 100%;
  background: #aaa;
  display: flex;
  flex-direction: column;
}
.left-bar .left-bar-something {
  flex-grow: 1;
}
.left-bar button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.left-bar button:hover {
  color: #9d2933;
}
.left-bar button:focus {
  color: #9d2933;
}
.left-bar .left-bar-settings,
.left-bar .left-bar-draft,
.left-bar .left-bar-books,
.left-bar .left-bar-trash {
  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.78rem;
  transition: 0.3s;
}
.left-bar .left-bar-settings i,
.left-bar .left-bar-draft i,
.left-bar .left-bar-books i,
.left-bar .left-bar-trash i {
  font-size: 1.2rem;
}
.settings .settings-list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
  z-index: 100;
}
.trash .trash-list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
  z-index: 100;
}
.list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
  z-index: 100;
}
.books .books-list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
  z-index: 100;
}
.books .books-list .books-item-newbooks {
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.books .books-list .books-item-newbooks .books-item-newbooks-btn {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.books .books-list .books-item-newbooks .books-item-newbooks-btn:hover {
  color: #000;
}
.books .books-list .books-item-newbooks:hover {
  background: #eee;
}
.books .books-list .books-item-newbooks i {
  font-size: 1.8rem;
}
.books .books-list .books-item-newbooks p {
  font-size: 0.8rem;
}
.books .books-list .books-item {
  margin: 1rem 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 3px #999999;
  transition: 0.3s;
}
.books .books-list .books-item:hover {
  background: #eee;
}
.books .books-list .books-item .books-item-title {
  color: #555;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.books .books-list .books-item .books-item-footer {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #888;
}
.books .books-list .books-item .books-item-footer small {
  margin-right: 0.5rem;
  transition-duration: 0.3s;
}
.books .books-list .books-item .books-item-footer small:hover {
  background: #eee;
}
.books .books-list .books-item .books-item-footer .books-item-setting {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}
.books .books-list .books-item .books-item-footer .books-item-setting i {
  transition: 1s;
}
.books .books-list .books-item .books-item-footer .books-item-setting:hover {
  background: #aaa;
}
.books .books-list .books-item .books-item-footer .books-item-setting:hover i {
  color: #fff;
}
.draft .draft-list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
  z-index: 100;
}
.artical .artical-list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
  z-index: 100;
}
.artical .artical-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artical .artical-list .artical-item-newartical {
  width: 100%;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.artical .artical-list .artical-item-newartical .artical-item-newartical-btn {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.artical .artical-list .artical-item-newartical .artical-item-newartical-btn:hover {
  color: #000;
}
.artical .artical-list .artical-item-newartical:hover {
  background: #eee;
}
.artical .artical-list .artical-item-newartical i {
  font-size: 1.8rem;
}
.artical .artical-list .artical-item-newartical p {
  font-size: 0.8rem;
}
.artical .artical-list .artical-list-item {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px #ddd solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #666;
  transition: 0.3s;
}
.artical .artical-list .artical-list-item:hover {
  background: #eee;
}
.artical .artical-list .artical-list-item .artical-item-main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.artical .artical-list .artical-list-item .artical-item-main .artical-item-title {
  flex-grow: 1;
  font-size: 1.2rem;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.artical .artical-list .artical-list-item .artical-item-main .artical-item-title-editor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: 0.3s;
  margin-right: 0.5rem;
}
.artical .artical-list .artical-list-item .artical-item-main .artical-item-title-editor:hover {
  background: #aaa;
}
.artical .artical-list .artical-list-item .artical-item-main .artical-item-title-editor:hover i {
  color: #fff;
}
.artical .artical-list .artical-list-item .artical-item-main .artical-item-title-editor i {
  transition: 1s;
}
.artical .artical-list .artical-list-item .artical-item-footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.artical .artical-list .artical-list-item .artical-item-footer .artical-item-time {
  flex-grow: 1;
  padding-left: 1rem;
}
.artical .artical-list .artical-list-item .artical-item-footer .artical-item-tags {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-wrap: no-wrap;
  transition: 0.3s;
}
.artical .artical-list .artical-list-item .artical-item-footer .artical-item-tags:hover {
  background: #aaa;
  color: #fff;
}
.artical .artical-list .artical-list-item .artical-item-footer .artical-item-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}
.artical .artical-list .artical-list-item .artical-item-footer .artical-item-up-container:hover {
  background: #aaa;
}
.artical .artical-list .artical-list-item .artical-item-footer .artical-item-up-container:hover small {
  color: #fff;
}
.artical .artical-list .artical-list-item .artical-item-footer .artical-item-up-container small {
  transition: 1s;
}
.artical .artical-list .artical-list-item .artical-item-footer .artical-item-up-container .artical-item-up {
  margin-right: 0.5rem;
}
.leftside {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.leftside .leftside-main {
  width: 100%;
}
.leftside .leftside-main .leftside-list {
  overflow-y: scroll;
  height: 100%;
}
.leftside .leftside-main .leftside-list .books {
  width: 100%;
}
.leftside .leftside-main .leftside-list .draft {
  width: 100%;
}
.leftside .leftside-main .leftside-list .trash {
  width: 100%;
}
.leftside .leftside-main .leftside-list .settings {
  width: 100%;
}
.rightside {
  overflow: hidden;
  height: 100vh;
}
.myeditor {
  overflow: hidden;
  height: 100vh;
}
@media screen and (min-width: 300px) and (max-width: 479px) {
  .main {
    all: unset;
  }
  .main .leftside {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
}
