*{
    padding: 0;
    margin: 0;
    
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    padding:10px;
    .mhead{
	width:80%;
	transform:translateX(12%);
	margin-bottom:1rem;
	.tips{
	    .tips-head{
		color: #ff6666;
		font-size:1.0rem;
		font-weight:700;
	    }
	    .tips-content{
		color:#666666;
		font-size:.9rem;
	    }
	}
	.input-container{
	    margin-top:1rem;
	    display: flex;
	    justify-content:center;
	    flex-direction:column;
	    width: 30%;
	    input{
		margin-bottom: .3rem;
		border: #ff6666 1px solid;
		border-radius: 3px;
		outline:none;
		padding:.5rem 1rem;
	    }
	    .input-title{
		color:#666666;
		font-size: 1rem;
	    }
	    .input-tags{
		padding: .3rem 1rem;
		color:#666666;
	    }
	}
    }
    
    
    
    .float-view{
	z-index:100;
	position: fixed;
	top:88%;
	left:90%;
	transform:translate(-50%,-50%);
	.btn-float{
	    outline:none;
	    color:#ffffff;
	    font-size:1.2rem;
	    font-weight: 500;
	    border-radius: 50%;
	    background: #ff6666;
	    border:#ff6666 1px solid;
	    width:68px;
	    height: 68px;
	    transition-duration: .3s;
	    &:hover{
		color:#ff6666;
		background: #ffffff;
	    }
	}
    }
}
