.img-src-center {
  object-fit: cover;
}
.input-1 {
  border: 1px solid #999999;
  border-radius: 3.8px;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition-duration: 0.3s;
}
.input-1:hover {
  border: 1px solid #9d2933;
}
.button-1 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-1:hover {
  color: #000;
}
.button-122 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-122:hover {
  color: #000;
}
.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0eeff;
  border: 1px solid #99d3f5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  outline: none;
}
.button-2:hover {
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
}
.button-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-3:hover {
  background: #9d2933;
  color: #fff;
}
.button-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #999999;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-4:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.button-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-5:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.float-view {
  display: none;
}
.main {
  display: grid;
  grid-template-rows: 100% 100%;
  grid-template-columns: 28% 72%;
  overflow: none;
}
.left-bar {
  width: 51px;
  height: 100%;
  background: #aaa;
  display: flex;
  flex-direction: column;
}
.left-bar .left-bar-something {
  flex-grow: 1;
}
.left-bar button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.left-bar button:hover {
  color: #9d2933;
}
.left-bar button:focus {
  color: #9d2933;
}
.left-bar .left-bar-settings,
.left-bar .left-bar-books,
.left-bar .left-bar-trash {
  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.78rem;
  transition: 0.3s;
}
.left-bar .left-bar-settings i,
.left-bar .left-bar-books i,
.left-bar .left-bar-trash i {
  font-size: 1.2rem;
}
.settings .settings-list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
}
.trash .trash-list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
}
.list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
}
.books .books-list-header {
  height: 3.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #999999;
}
.books .books-list .books-item-newbooks {
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.books .books-list .books-item-newbooks .books-item-newbooks-btn {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.books .books-list .books-item-newbooks .books-item-newbooks-btn:hover {
  color: #000;
}
.books .books-list .books-item-newbooks:hover {
  background: #eee;
}
.books .books-list .books-item-newbooks i {
  font-size: 1.8rem;
}
.books .books-list .books-item-newbooks p {
  font-size: 0.8rem;
}
.books .books-list .books-item {
  margin: 1rem 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 3px #999999;
}
.books .books-list .books-item .books-item-title {
  color: #555;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.books .books-list .books-item .books-item-footer {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #888;
}
.books .books-list .books-item .books-item-footer small {
  margin-right: 0.5rem;
  transition-duration: 0.3s;
}
.books .books-list .books-item .books-item-footer small:hover {
  background: #eee;
}
.leftside {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.leftside .leftside-main {
  width: 100%;
}
.leftside .leftside-main .leftside-list {
  overflow-y: scroll;
  height: 100%;
}
.leftside .leftside-main .leftside-list .books {
  width: 100%;
}
.leftside .leftside-main .leftside-list .trash {
  width: 100%;
}
.leftside .leftside-main .leftside-list .settings {
  width: 100%;
}
.rightside {
  overflow: hidden;
  height: 100vh;
}
.myeditor {
  overflow: hidden;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
}
