* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #9d2933;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("https://s1.ax1x.com/2020/04/08/GWYB6A.jpg") fixed no-repeat;
  background-size: cover;
}
body .container {
  padding: 10px;
  width: 700px;
  height: auto;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
body .container .in-ourl {
  width: 100%;
  height: 70%;
  min-height: 300px;
  border: none;
  color: #000;
  background: none;
  font-size: 16px;
  padding: 10px;
}
body .container .in-ourl:focus {
  border: none;
  box-shadow: none;
  -wekit-box-shadow: none;
}
body .container .v-btnholder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
body .container .v-btnholder .btn-upload {
  margin: 20px 0px;
  width: 30%;
  transition-duration: 0.3s;
  cursor: pointer;
  border: none;
  padding: 10px 0px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background: none;
}
body .container .v-btnholder .btn-upload:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  font-weight: 700;
}
