html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
html .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  padding: 10px;
}
html .main .section-1 {
  background: #eee;
}
html .main .title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
html .main .title-container .title {
  flex-grow: 1;
}
html .main .img-container {
  min-width: 60%;
  display: grid;
  grid-template-columns: repeat(8, 180px);
  grid-template-rows: 180px;
}
html .main .img-container .img {
  width: 180px;
  height: 180px;
  background: #eef;
}
