@import url(theme/theme.less);
@import url(toolbar/search.less);
@import url(toolbar/bell.less);
header {
    height: @toolbar-height;
    padding: @toolbar-padding;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: @toolbar-shadow;
    
    .logo {
	color: @logo-color;
	font-size: @logo-font-size;
	font-weight: @logo-font-weight;
	&:hover {
	    color: @logo-hover-color;
	}
    }
    
    .logo-rightside {
	margin-left: 1rem;
	display: flex;
	flex-grow: 1;
	
	.links {
	    display: flex;
	    align-items: center;
	    flex-grow: 2;
	    li {
		margin-right: 1.2rem;
		a {
		    transition-duration:.5s;
		    font-weight: 500;
		    font-size: 1.2rem;
		    color: @grey02;
		}
		&:hover a {
		    color:@theme-color-light;
		}
	    }
	    
	}

	.login {
	    display: flex;
	    flex-direction: row;
	    flex-grow: 0;
	    .btn-login, .btn-signup {
		.button-3();
		margin: .3rem;
	    }
	    .user {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-content: center;
		transition: .3s linear;

		.username {
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    font-size: .9rem;
		    font-weight: bold;
		    margin-right: .55rem;
		    
		}
		.useravatar {
		    width: 33px;
		    height: 33px;
		    border-radius: 50%;
		    border: @avatar-border;
		}
		.user-cover {
		    visibility: hidden;
		    opacity: 0;
		    transition: .1s;
		    background: #fff;
		    box-shadow: @shadow03;
		    position: absolute;
		    border-radius: 6px;
		    top: 0px;
		    right: 20px;
		    width: 300px;
		    height: 300px;
		    z-index: 2;
		    cursor: auto;
		    overflow: hidden;
		    display: flex;
		    flex-direction: column;
		    .user-cover-header {
			width: 100%;
			height: 66%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			.user-cover-username {
			    background: rgba(255,255,255,.5);
			    color: #000;
			    width: 100%;
			    padding: .8rem;
			    font-weight: bold;
			    font-size: 1.2rem;
			}
		    }
		    .user-cover-footer {
			width: 100%;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: end;
			margin-top: 10px;
			a{
			    padding: .3rem .8rem;
			    width: 100%;
			    min-height: 1.5rem;
			    border: none;
			    color: #000;
			    font-weight: bold;
			    font-size: .9rem;
			    display: flex;
			    justify-content: flex-start;
			    align-items: center;
			    transition-duration: .16s;
			    i{
				margin-right: .5rem;
			    }
			    &:hover {
				background: @theme-color-light;
				color: #fff;
			    }
			}
		    }
		}
		&:hover .user-cover{
		    transform: translateY(40px);
		    visibility: visible;
		    opacity: 1;
		}
	    }
	}
	

	
    }
    
}

