@import url(theme/theme.less);
// 分割线组件

.hr-1 {
    width: 100%;
    background: @hr-color-2;
    height: 2px;
    
}

.hr-3 {
    width     : 100%;
    background: @hr-color-2;
    height    : 1px;
}
.hr-2 {
    width : 100%;
    background: @hr-color-2;
    height: 2px;
    margin: .3rem 0;
}

.hr-dashed {
    border: 1 dashed @hr-color-2;
    width: 100%;
    height: 1;
    background: @hr-color-2;
}
.hr-list-items {
    width: 100%;
    background: @hr-color-2;
    height: 1.39px;
}
