.btn-sendpost {
  border-radius: 50%;
  background-image: url(../images/brush-alt.png);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center center;
  background-color: #ff0000;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 96%;
  top: 90%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.btn-sendpost:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.toggle-funny {
  position: fixed;
  left: 96%;
  top: 90%;
  z-index: 1000;
  background-color: #ff6666;
  width: 50px;
  height: 50px;
  transition-duration: 0.3s;
  background-image: url(../images/brush-alt.png);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center center;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 1px #ff6666 solid;
  cursor: pointer;
  outline: none;
  transform: translate(-50%, -50%);
}
.toggle-funny:hover {
  background-color: #ffffff;
}
.toggle-funny:checked {
  background-image: url(../images/post/close1.png);
}
.toggle-funny:checked + .view-float {
  animation-name: jj;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}
.view-float {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #cccccc;
  z-index: 100;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.view-float .startfunny-title {
  border: none;
  padding: 1rem 0.8rem;
  margin: 1rem 1rem;
  color: #666666;
  border-radius: 0.6rem;
  outline: none;
  font-size: 1rem;
  width: 28%;
}
.view-float .startfunny-title:focus {
  border: none;
}
.view-float .startfunny-start {
  transform: translateY(200%);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 200;
  font-size: 1.6rem;
  border: none;
  background-color: #ff6666;
  border-radius: 1rem;
  transition-duration: 0.3s;
  padding: 0.6rem 1.2rem;
}
.view-float .startfunny-start:hover {
  background-color: rgba(255, 102, 102, 0.5);
}
@keyframes jj {
  from {
    transform: rotate(-90deg);
  }
  to {
    border-radius: 0;
    transform: rotate(0deg);
  }
}
.button-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 9px 0px;
  width: 66%;
  color: #9d2933;
  border: solid 1px #9d2933;
  transition-duration: 0.3s;
  font-size: 1rem;
  margin-top: 2rem;
}
.button-2 {
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  color: #9d2933;
  border-radius: 6px;
  border: solid 2px #9d2933;
}
.signup-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.36);
}
.signup-layer .signup-view {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  padding: 13px;
  margin: 10px;
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.signup-layer .signup-view .signup-view-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.signup-layer .signup-view .signup-view-title .close {
  fill: #9d2933;
  cursor: pointer;
  transform-duration: 0.2s;
}
.signup-layer .signup-view .signup-view-title .close:hover {
  animation-timing-function: ease-in-out;
  animation-name: turnZ360deg;
  animation-duration: 0.3s;
}
.signup-layer .signup-view .signup-view-main-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  margin-top: 128px;
}
.signup-layer .signup-view .signup-view-main-login input {
  font-weight: blod;
  width: 80%;
  padding: 2px 2px;
  min-height: 1rem;
  margin: 12px 0px;
  border: none;
  border-bottom: solid 2px #9d2933;
  background: none;
  outline: none;
  font-size: 1.6rem;
  caret-color: #9d2933;
}
.signup-layer .signup-view .signup-view-main-login .button-login {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 9px;
  width: 66%;
  margin: 8px 10px;
  color: #9d2933;
  border: solid 1px #9d2933;
  transition-duration: 0.3s;
  font-size: 1rem;
  margin-top: 2rem;
}
.signup-layer .signup-view .signup-view-main-login .button-login:hover {
  color: #fff;
  background: #9d2933;
}
.signup-layer .signup-view .signup-view-main-login .button-login:focus {
  box-shadow: none;
  box-shadow: 0 0 2px #9d2933;
}
.signup-layer .signup-view .signup-view-main-login .signup-view-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 66%;
}
.signup-layer .signup-view .signup-view-main-login .signup-view-footer a {
  padding: 3px;
  margin: 3px;
}
.signup-layer .signup-view .signup-view-main-login .signup-view-footer a:hover {
  color: #9d2933;
}
.signup-layer .signup-view .signup-view-main-signup {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  display: none;
}
.signup-layer .signup-view .signup-view-main-signup .signupid {
  width: 100%;
}
.signup-layer .signup-view .signup-view-main-signup .signup-token-view {
  width: 100%;
  display: flex;
}
.signup-layer .signup-view .signup-view-main-signup .signup-token-view .signup-token {
  flex-grow: 3;
}
.signup-layer .signup-view .signup-view-main-signup .signup-token-view .button-signup-token {
  flex-grow: 1;
  min-width: 90px;
  border: solid 1px #9d2933;
}
.signup-layer .signup-view .signup-view-main-signup .signup-token-view .button-signup-token:hover {
  background: #9d2933;
  color: #fff;
}
.signup-layer .signup-view .signup-view-main-signup .button-signup {
  width: 100%;
}
.signup-layer .signup-view .signup-view-main-signup .button-signup:hover {
  background: #9d2933;
  color: #fff;
}
@keyframes turnZ360deg {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes turn11 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.title a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
}
.title a:hover {
  color: #9d2933;
}
.title-1 {
  font-size: 1.5rem;
  color: #9d2933;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.title-a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
}
.title-a:hover {
  color: #9d2933;
}
.img-src-center {
  object-fit: cover;
}
.input-1 {
  border: 1px solid #999999;
  border-radius: 3.8px;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition-duration: 0.3s;
}
.input-1:hover {
  border: 1px solid #9d2933;
}
.button-1 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-1:hover {
  color: #000;
}
.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0eeff;
  border: 1px solid #99d3f5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  outline: none;
}
.button-2:hover {
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
}
.button-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-3:hover {
  background: #9d2933;
  color: #fff;
}
.button-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #999999;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-4:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.hr-1 {
  width: 100%;
  background: #e0e0e0;
  height: 2px;
}
.hr-3 {
  width: 100%;
  background: #e0e0e0;
  height: 1px;
}
.hr-2 {
  width: 100%;
  background: #e0e0e0;
  height: 2px;
  margin: 0.3rem 0;
}
.hr-dashed {
  border: 1 dashed #e0e0e0;
  width: 100%;
  height: 1;
  background: #e0e0e0;
}
.hr-list-items {
  width: 100%;
  background: #e0e0e0;
  height: 1.39px;
}
.b-m-1rem {
  margin: 1rem;
}
.b-m-09rem {
  margin: 0.9rem;
}
.b-m-08rem {
  margin: 0.8rem;
}
.b-m-07rem {
  margin: 0.7rem;
}
.b-m-06rem {
  margin: 0.6rem;
}
.b-m-05rem {
  margin: 0.5rem;
}
.b-m-top-1rem {
  margin-top: 1rem;
}
.b-m-top-09rem {
  margin-top: 0.9rem;
}
.b-m-top-08rem {
  margin-top: 0.8rem;
}
.b-m-top-07rem {
  margin-top: 0.7rem;
}
.b-m-top-06rem {
  margin-top: 0.6rem;
}
.b-m-top-05rem {
  margin-top: 0.5rem;
}
.b-m-top-04rem {
  margin-top: 0.4rem;
}
.b-m-top-03rem {
  margin-top: 0.3rem;
}
.b-m-top-02rem {
  margin-top: 0.2rem;
}
.b-m-top-01rem {
  margin-top: 0.1rem;
}
.b-m-bottom-1rem {
  margin-bottom: 1rem;
}
.b-m-bottom-08rem {
  margin-bottom: 0.8rem;
}
.b-m-bottom-06rem {
  margin-bottom: 0.6rem;
}
.b-m-left-1rem {
  margin-left: 1rem;
}
.b-m-left-09rem {
  margin-left: 0.9rem;
}
.b-m-left-08rem {
  margin-left: 0.8rem;
}
.b-m-left-07rem {
  margin-left: 0.7rem;
}
.b-m-left-06rem {
  margin-left: 0.6rem;
}
.b-m-left-05rem {
  margin-left: 0.5rem;
}
.b-m-left-04rem {
  margin-left: 0.4rem;
}
.b-m-left-03rem {
  margin-left: 0.3rem;
}
.b-m-left-02rem {
  margin-left: 0.2rem;
}
.b-p-1rem {
  padding: 1rem;
}
.b-p-09rem {
  padding: 0.9rem;
}
.b-p-08rem {
  padding: 0.8rem;
}
.b-p-07rem {
  padding: 0.7rem;
}
.b-p-06rem {
  padding: 0.6rem;
}
.card {
  border-radius: 0.3rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.card .card-main {
  flex-grow: 1;
}
.card .card-main .loading {
  color: #999999;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-items {
  height: 120px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-warp: nowrap;
  justify-content: flex-start;
}
.list-items .list-items-conner {
  cursor: pointer;
}
.list-items .list-items-conner img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 0.3rem;
}
.list-items .list-items-content {
  margin-left: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.list-items .list-items-content .list-items-title {
  cursor: pointer;
  flex-grow: 2;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333333;
}
.list-items .list-items-content .list-items-post {
  cursor: pointer;
  color: #443322;
  flex-grow: 9;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list-items .list-items-content .list-items-user {
  font-weight: 549;
  display: flex;
  flex-grow: 1;
  color: #443322;
  align-items: center;
}
header {
  height: 60px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
header .logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}
header .logo:hover {
  color: #999;
}
header .logo-rightside {
  margin-left: 1rem;
  display: flex;
  flex-grow: 1;
}
header .logo-rightside .links {
  display: flex;
  align-items: center;
  flex-grow: 2;
}
header .logo-rightside .links li {
  margin-right: 1.2rem;
}
header .logo-rightside .links li a {
  transition-duration: 0.5s;
  font-weight: 500;
  font-size: 1.2rem;
  color: #666666;
}
header .logo-rightside .links li:hover a {
  color: #9d2933;
}
header .logo-rightside .login {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}
header .logo-rightside .login .btn-login,
header .logo-rightside .login .btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
  margin: 0.3rem;
}
header .logo-rightside .login .btn-login:hover,
header .logo-rightside .login .btn-signup:hover {
  background: #9d2933;
  color: #fff;
}
header .logo-rightside .login .user {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.3s linear;
}
header .logo-rightside .login .user .username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 0.55rem;
}
header .logo-rightside .login .user .useravatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px #666666 solid;
}
header .logo-rightside .login .user .user-cover {
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
  background: #fff;
  box-shadow: 0 0 3px #3f3f3f;
  position: absolute;
  border-radius: 6px;
  top: 0px;
  right: 20px;
  width: 300px;
  height: 300px;
  z-index: 2;
  cursor: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
header .logo-rightside .login .user .user-cover .user-cover-header {
  width: 100%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .logo-rightside .login .user .user-cover .user-cover-header .user-cover-username {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.2rem;
}
header .logo-rightside .login .user .user-cover .user-cover-footer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 10px;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a {
  padding: 0.3rem 0.8rem;
  width: 100%;
  min-height: 1.5rem;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 0.16s;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a:hover {
  background: #9d2933;
  color: #fff;
}
header .logo-rightside .login .user:hover .user-cover {
  transform: translateY(40px);
  visibility: visible;
  opacity: 1;
}
main {
  padding: 1rem 1rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 70% 30%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-size;
}
::selection {
  color: #fff;
  background: #9d2933;
}
::-moz-selection {
  color: #fff;
  background: #9d2933;
}
::-webkit-selection {
  color: #fff;
  background: #9d2933;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  font-size: 15px;
}
@media only screen and (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body main {
    flex-grow: 1;
  }
  body footer {
    color: #888;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.88rem;
  }
}
