// 首页帖子列表item布局

.list-items {
    height: 120px;
    display:flex;
    flex-direction:row;
    overflow: hidden;
    // 放不下也不换行
    flex-warp: nowrap;
    justify-content: flex-start;
    
    .list-items-conner{
	cursor:pointer;
	img{
	    width:120px;
	    height:120px;
	    border-radius: .3rem;
	}
    }
    .list-items-content{
	margin-left:15px;
	flex-grow:1;
	display: flex;
	flex-direction: column;
	//p 帖子标题
	.list-items-title{
	    cursor:pointer;
	    flex-grow: 2;
	    display: flex;
	    align-items: center;
	    font-weight: 600;
	    font-size:1.2rem;
	    color: #333333;
	}
	//p 部分帖子内容
	.list-items-post{
	    cursor:pointer;
	    color: #663366;
	    flex-grow: 9;
	}
	// div 作者信息
	.list-items-user{
	    font-weight: 549;
	    display: flex;
	    flex-grow: 1;
	    color:#663366;
	    align-items: center;
	    
	}
    }
}
