.list-items {
  height: 120px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-warp: nowrap;
  justify-content: flex-start;
}
.list-items .list-items-conner {
  cursor: pointer;
}
.list-items .list-items-conner img {
  width: 120px;
  height: 120px;
  border-radius: 0.3rem;
}
.list-items .list-items-content {
  margin-left: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.list-items .list-items-content .list-items-title {
  cursor: pointer;
  flex-grow: 2;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333333;
}
.list-items .list-items-content .list-items-post {
  cursor: pointer;
  color: #663366;
  flex-grow: 9;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list-items .list-items-content .list-items-user {
  font-weight: 549;
  display: flex;
  flex-grow: 1;
  color: #663366;
  align-items: center;
}
