// 首页帖子列表item布局
@import url(theme/theme.less);

// 签到帖子样式
.list-items-3{
    height : @item3-height;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .list-item-3-img-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: @item3-height;
	height: @item3-height;
		   
	.list-item-3-img{
	    width: 60px;
	    height: 60px;
	    border-radius: 50%;
	}
	
    }

    .list-item-3-main{
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	.list-item-3-title-container{
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-start;
	    align-items: center;
	    .list-item-3-title{
		color: #666666;
		font-size: 1.2rem;
	    }
	}

	.list-item-3-postmessage-container{
	    flex-grow:1;
	    display: flex;
	    justify-content:center;
	    align-items: center;
	    .list-item-3-tag{
		background    : #4a74d3;
		border-radius : 6px;
		color         : #fff;
		font-weight   : 300;
		font-size     : 70%;
		padding       : 1px 6px;
		white-space   :nowrap;
		vertical-align: baseline;
		display:flex;
		justify-content:center;
		align-items: center;
		margin-right: .5rem;
	    }
	    .list-item-3-username{
		margin-right: .5rem;
	    }
	    .list-item-3-time{
		flex-grow:1;
		margin-right: .5rem;
	    }
	}
    }
}

// 普通帖子样式
.list-items {
    height: @item1-height;
    display:flex;
    flex-direction:row;
    overflow: hidden;
    // 放不下也不换行
    flex-warp: nowrap;
    justify-content: flex-start;
    
    .list-items-conner{
	cursor:pointer;
	img{
	    object-fit: cover;
	    width:@item1-height;
	    height:@item1-height;
	    border-radius: .3rem;
	}
    }
    .list-items-content{
	margin-left:15px;
	flex-grow:1;
	display: flex;
	flex-direction: column;
	//p 帖子标题
	.list-items-title{
	    cursor:pointer;
	    flex-grow: 2;
	    display: flex;
	    align-items: center;
	    font-weight: @item1-title-fontweight;
	    font-size:1.2rem;
	    color: @item1-title-color;
	}
	//p 部分帖子内容
	.list-items-post{
	    cursor:pointer;
	    color: @item1-sorttext-color;
	    flex-grow: 9;
	    display:-webkit-box;
	    -webkit-line-clamp:3;
	    -webkit-box-orient:vertical;
	    overflow:hidden;
	}
	// div 作者信息
	.list-items-user{
	    font-weight: 549;
	    display: flex;
	    flex-grow: 1;
	    color:@item1-username-color;
	    align-items: center;
	    
	}
    }
}
