
main {
    padding: 2rem 2rem;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 60% 25%;
    grid-column-gap:1.3rem;
    justify-content: center;
    .middle{}
    .rightside {
	display: grid;
	grid-template-columns:100%;
	justify-content: start;
	align-content:start;
	width: 100%;
	grid-row-gap: 1.3rem;
    }
}
