* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  heigth: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
}
body #test-editormd {
  width: 50%;
}
