@import url(../theme/theme.less);
@import url(../hr.less);

.list-container{
    .item{
	overflow       : hidden;
	margin-top     : 1rem;
	height         : 100px;
	display        :flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
	
	.title-container{
	    width        : 100%;
	    .item-title{
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow       : hidden;
		width          : 100%;
		color          : @title-color;
		font-weight    : @title-font-weight;
		font-size      : @title-font-size;
		display        : flex;
		flex-direction : row;
		justify-content: flex-start;
		align-items    : center;
		
	    }
	}
	.sort-container{
	    width: 100%;
	    
	    flex-grow          : 1;
	    .item-sort{
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow       : hidden;
		color          : @item1-sorttext-color;
		font-size      : .9rem;
		display        : -webkit-box;
	    }
	}
	.item-footer{
	    width    : 100%;
	    display  : flex;
	    font-size: .8rem;
	    color    : @grey;
	    .item-time{
		color: @grey;
	    }   
	}
    }
    
}
