.shadow-1 {
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
}
.shadow-2 {
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
.p-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img-src-center {
  object-fit: cover;
}
.input-1 {
  border: 1px solid #999999;
  border-radius: 3.8px;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition-duration: 0.3s;
}
.input-1:hover {
  border: 1px solid #9d2933;
}
.button-1 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-1:hover {
  color: #000;
}
.button-122 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-122:hover {
  color: #000;
}
.button-2-active {
  background: #1e88c7;
  color: #d0eeff;
  outline: none;
  border: 1px solid #1e88c7;
}
.button-2-active:hover {
  background: #1e88c7;
  border: 1px solid #1e88c7;
  color: #d0eeff;
}
.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0eeff;
  border: 1px solid #99d3f5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}
.button-2:hover {
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
}
.button-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-3:hover {
  background: #9d2933;
  color: #fff;
}
.button-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #999999;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-4:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.button-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-5:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
* {
  box-sizing: border-size;
  margin: 0px;
  padding: 0px;
}
header {
  all: unset;
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  height: 66px;
  display: flex;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
header .logo-rightside .links {
  transform: translateY(-2px);
}
header .logo-rightside .links li {
  margin-right: 0.6rem;
}
header .logo-rightside .search-container {
  display: none;
}
header .logo-rightside .toolbar-bell {
  display: none;
}
header .logo-rightside .login .btn-login,
header .logo-rightside .login .btn-signup {
  all: unset;
  padding: none;
  margin: none;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  margin-right: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  border: 1px #9d2933 solid;
}
header .logo-rightside .user {
  display: none;
}
.leftbar-container {
  all: unset;
  z-index: 10000000;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.leftbar-container .leftbar {
  all: unset;
  display: flex;
}
.leftbar-container .leftbar .leftbar-star,
.leftbar-container .leftbar .leftbar-collect,
.leftbar-container .leftbar .leftbar-comment {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftbar-container .leftbar .leftbar-star:hover i,
.leftbar-container .leftbar .leftbar-collect:hover i,
.leftbar-container .leftbar .leftbar-comment:hover i {
  font-size: unset;
}
.leftbar-container .leftbar .leftbar-star .leftbar-i-container,
.leftbar-container .leftbar .leftbar-collect .leftbar-i-container,
.leftbar-container .leftbar .leftbar-comment .leftbar-i-container {
  padding: unset;
  padding-right: 0.3rem;
  flex-grow: unset;
}
.leftbar-container .leftbar .leftbar-star p,
.leftbar-container .leftbar .leftbar-collect p,
.leftbar-container .leftbar .leftbar-comment p {
  all: unset;
  white-space: nowrap;
}
.leftbar-container .leftbar .leftbar-comment,
.leftbar-container .leftbar .leftbar-collect {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
}
.leftbar-container .leftbar .leftbar-comment .leftbar-i-container,
.leftbar-container .leftbar .leftbar-collect .leftbar-i-container {
  padding: unset;
  paddgin-right: 0.3rem;
}
.leftbar-container .leftbar .leftbar-comment i,
.leftbar-container .leftbar .leftbar-collect i {
  padding: 0.3rem;
  flex-grow: unset;
}
.leftbar-container .leftbar .leftbar-star {
  width: 90px;
  border: 2px #9d2933 solid;
  border-radius: 1.8rem;
  margin: 0.3rem;
  display: flex;
  font-size: 1.2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.leftbar-container .leftbar .leftbar-star p {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftbar-container .leftbar .leftbar-collect {
  flex-grow: 1;
}
#test-editormd {
  overflow: hidden;
}
#test-editormd .markdown-body li,
#test-editormd .markdown-body ol {
  padding-left: 1.6rem;
}
#test-editormd ol.linenums {
  padding-left: 1rem;
}
#test-editormd img {
  all: unset;
  width: 100%;
}
#test-editormd .linkcard-container .linkcard {
  width: 80%;
  margin-left: unset;
  margin-right: unset;
}
.main-user-message {
  all: unset;
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "avatar message message" "avatar footer footer";
}
.main-user-message .main-user-message-container {
  grid-area: message;
}
.main-user-message .main-user-message-container .main-user-articalnum-container,
.main-user-message .main-user-message-container .main-user-thumbsup-container,
.main-user-message .main-user-message-container .main-user-star-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #666;
  font-weight: 700;
  font-size: 1.3rem;
}
.main-user-message .main-user-message-container .main-user-articalnum-container div,
.main-user-message .main-user-message-container .main-user-thumbsup-container div,
.main-user-message .main-user-message-container .main-user-star-container div {
  all: unset;
}
.main-user-message .main-user-message-container .main-user-articalnum-container div i,
.main-user-message .main-user-message-container .main-user-thumbsup-container div i,
.main-user-message .main-user-message-container .main-user-star-container div i {
  margin-right: 0.3rem;
}
.main-user-message .main-user-message-container .main-user-articalnum-container p,
.main-user-message .main-user-message-container .main-user-thumbsup-container p,
.main-user-message .main-user-message-container .main-user-star-container p {
  margin-right: 0.3rem;
}
.main-user-message .main-user-avatar-container {
  grid-area: avatar;
  margin-bottom: unset;
}
.main-user-message .main-user-footer-container {
  grid-area: footer;
}
.recommendread-main {
  all: unset;
  display: flex;
  padding: 0.8rem;
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
.main {
  all: unset;
  margin-bottom: 50px;
}
.main .middle {
  margin: 0.8rem;
}
