// 主题一
@theme-color-light          : rgba(157,41,51,1);
@theme-color-light02        : rgba(157,41,51,.5);
@bgColor                    : #ffffff;
@shadow03                   : 0 0 3px #3f3f3f;
@shadow02                   : 0 0 3px rgba(0,0,0,.2);
@shadow01                   : 0 0 2px rgba(0,0,0,.3);
@boxShadow                  : 0 0 2px rgba(0,0,0,.3);
@selectedColor              : #9d2933;
@grey                       : #999999;
@grey02                     : #666666;
@grey03                     : #616161;

@title-color                : #000;
@title-font-weight          : 700;
@title-font-size            : 1.2rem;


@padding1                   : 1rem;
@padding08                  : .8rem;
@mborder                    : 1px @theme-color-light solid;




// toolbar
@toolbar-height             : 60px;
@toolbar-padding            : 0 5%;
@toolbar-shadow             :0 0 3px rgba(0,0,0,.5);

@avatar-border              : 1px @grey02 solid;

// logo 
@logo-color                 : #000;
@logo-font-size             : 1.5rem;
@logo-font-weight           : bold;
@logo-hover-color           : #999;

// hr 分割线组件
@hr-color: #bdbdbd;
@hr-color-2: #e0e0e0;


// post list item theme
@item1-height               : 100px;
@item1-title-color          : #333333;
@item1-title-fontweight     : 600;
@item1-sorttext-color       : #443322;
@item1-username-color       : @item1-sorttext-color;

@item3-height               : 66px;
// 用户个人界面


.shadow-1{
    -webkit-box-shadow:0 0 6px rgba(10,10,10,.2);
    box-shadow: 0 0 6px rgba(10,10,10,.2);
}

// text 单行文本
.p-one-line{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

// img src 居中显示
.img-src-center{
    object-fit:cover;
}

// input @theme-1
// input-1:边框输入框
.input-1{
    
    border: 1px solid @grey;
    border-radius: 3.8px;
    outline: none;
    padding: .6rem .9rem;
    transition-duration: .3s;
    &:hover{
	border: 1px solid @theme-color-light;
    }
}

// button-1: 无边框透明灰字按钮
.button-1{
    border    :none;
    outline   : none;
    color     : @grey;
    background: transparent;
    transition-duration: .3s;
    outline        : none;
    &:hover{
	color: #000;
    }
}



// button
// button-1: 无边框透明灰字按钮
.button-122{
    border    :none;
    outline   : none;
    color     : @grey;
    background: transparent;
    transition-duration: .3s;
    outline        : none;
    &:hover{
	color: #000;
    }
}



// button-2 蓝色边框按钮
.button-2{
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : #d0eeff;
    border         : 1px solid #99d3f5;
    border-radius  : 4px;
    padding        : 4px 12px;
    overflow       : hidden;
    color          : #1e88c7;
    text-decoration: none;
    outline        : none;

    &:hover{
	background     : #aadffd;
	border-color   :#78c3f3;
	color          : #004974;
    }
}


// button-3 主题边框按钮
.button-3{
    display        : flex;
    justify-content: center;
    align-items    : center;
    border         : 1px solid @theme-color-light;
    border-radius  : 4px;
    padding        : 4px 12px;
    overflow       : hidden;
    color          : @theme-color-light;
    text-decoration: none;
    transition-duration: .3s;
    outline        : none;
    &:hover{
	background     : @theme-color-light;
	color          : #fff;;
    }
}



// button-4 灰色边框按钮
.button-4{
    display        : flex;
    justify-content: center;
    align-items    : center;
    border         : 1px solid @grey;
    border-radius  : 4px;
    padding        : 4px 12px;
    overflow       : hidden;
    color          : @grey;
    text-decoration: none;
    transition-duration: .3s;
    outline        : none;
    &:hover{
	border         : 1px solid @theme-color-light;
	background     : @theme-color-light;
	color          : #fff;;
    }
}



// button-5 主题色边框按钮
.button-5{
    display        : flex;
    justify-content: center;
    align-items    : center;
    border         : 1px solid @theme-color-light;
    border-radius  : 4px;
    padding        : 4px 12px;
    overflow       : hidden;
    color          : @theme-color-light;
    text-decoration: none;
    transition-duration: .3s;
    outline        : none;
    &:hover{
	border         : 1px solid @theme-color-light;
	background     : @theme-color-light;
	color          : #fff;;
    }
}
