@import url(../theme/theme.less);

main {
    
    padding: 1rem 2rem;
    display: grid;
    grid-template-rows: 100%;
    grid-column-gap: 1.3rem;
    grid-template-columns: 26% 69%;

    
    .middle{
	#test-editormd{
	    box-shadow:@shadow01;
	    
	}
    }
    
    .leftsight{
	// box-shadow: @shadow01;
    }

}
