header {
  height: 60px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
header .logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}
header .logo:hover {
  color: #999;
}
header .logo-rightside {
  margin-left: 1rem;
  display: flex;
  flex-grow: 1;
}
header .logo-rightside .links {
  display: flex;
  align-items: center;
  flex-grow: 2;
}
header .logo-rightside .links li {
  margin-right: 1.2rem;
}
header .logo-rightside .links li a {
  transition-duration: 0.5s;
  font-weight: 500;
  font-size: 1.2rem;
  color: #666666;
}
header .logo-rightside .links li:hover a {
  color: #9d2933;
}
header .logo-rightside .login {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}
header .logo-rightside .login .btn-login,
header .logo-rightside .login .btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border: solid 1px #9d2933;
  color: #9d2933;
  margin: 0.3rem;
  padding: 0.1rem 0.3rem;
  transition-duration: 0.3s;
}
header .logo-rightside .login .btn-login:hover,
header .logo-rightside .login .btn-signup:hover {
  background: #9d2933;
  color: #fff;
}
header .logo-rightside .login .user {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.3s linear;
}
header .logo-rightside .login .user .username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 0.55rem;
}
header .logo-rightside .login .user .useravatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: solid 1px #9d2933;
}
header .logo-rightside .login .user .user-cover {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #fff;
  box-shadow: 0 0 3px #3f3f3f;
  position: absolute;
  border-radius: 6px;
  top: 0px;
  right: 20px;
  width: 300px;
  height: 300px;
  z-index: 2;
  cursor: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
header .logo-rightside .login .user .user-cover .user-cover-header {
  width: 100%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .logo-rightside .login .user .user-cover .user-cover-header .user-cover-username {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.2rem;
}
header .logo-rightside .login .user .user-cover .user-cover-footer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 10px;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a {
  padding: 0.3rem 0.8rem;
  width: 100%;
  min-height: 1.5rem;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 0.3s;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a:hover {
  background: #9d2933;
  color: #fff;
}
header .logo-rightside .login .user:hover .user-cover {
  transform: translateY(40px);
  visibility: visible;
  opacity: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-size;
}
::selection {
  color: #fff;
  background: #9d2933;
}
::-moz-selection {
  color: #fff;
  background: #9d2933;
}
::-webkit-selection {
  color: #fff;
  background: #9d2933;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  font-size: 15px;
}
main {
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: 100%;
  grid-column-gap: 1.3rem;
  grid-template-columns: 26% 69%;
}
main .middle #test-editormd {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.leftsight .user {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 266px;
  padding-bottom: 1rem;
}
.leftsight .user .usercontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftsight .user .usercontainer .useravatar {
  width: 69px;
  height: 69px;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftsight .user .usercontainer .useravatar .avatar {
  border: 1px red solid;
  border-radius: 50%;
  width: 67px;
  height: 67px;
}
.leftsight .user .usercontainer .usermessage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.leftsight .user .usercontainer .usermessage .userqu {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.leftsight .user .usercontainer .usermessage .userqu .pusername {
  color: #000000;
  font-weight: 600;
  font-size: 1.2rem;
}
.leftsight .user .usercontainer .usermessage .userqu .usersign {
  font-weight: 500;
  color: #666666;
  font-size: 0.9rem;
}
.leftsight .user .usercontainer .usermessage .userstar {
  min-height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
}
.postmessage {
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  height: 266px;
  display: flex;
  flex-direction: column;
}
.postmessage .titlecontainer {
  flex-grow: 1;
}
.postmessage .titlecontainer p {
  font-weight: 700;
  color: #999999;
  font-size: 1.25rem;
}
.postmessage .message {
  flex-grow: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #999999;
  font-size: 0.9rem;
  font-weight: 300;
}
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
