@import url(../header.less);
@import url(../common.less);
@import url(main.less);
@import url(avatar.less);
@import url(postmessage.less);

@import url(../theme/theme.less);

// 浏览帖子界面样式

body{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
