.search-container {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container .search-input {
  border: 1px solid #999999;
  border-radius: 3.8px;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition-duration: 0.3s;
}
.search-container .search-input:hover {
  border: 1px solid #9d2933;
}
.search-container .search-button {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
  margin-left: 0.5rem;
}
.search-container .search-button:hover {
  color: #000;
}
.toolbar-bell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
header {
  height: 60px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
header .logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}
header .logo:hover {
  color: #999;
}
header .logo-rightside {
  margin-left: 1rem;
  display: flex;
  flex-grow: 1;
}
header .logo-rightside .links {
  display: flex;
  align-items: center;
  flex-grow: 2;
}
header .logo-rightside .links li {
  margin-right: 1.2rem;
}
header .logo-rightside .links li a {
  transition-duration: 0.5s;
  font-weight: 500;
  font-size: 1.2rem;
  color: #666666;
}
header .logo-rightside .links li:hover a {
  color: #9d2933;
}
header .logo-rightside .login {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}
header .logo-rightside .login .btn-login,
header .logo-rightside .login .btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
  margin: 0.3rem;
}
header .logo-rightside .login .btn-login:hover,
header .logo-rightside .login .btn-signup:hover {
  background: #9d2933;
  color: #fff;
}
header .logo-rightside .login .user {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.3s linear;
}
header .logo-rightside .login .user .username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 0.55rem;
}
header .logo-rightside .login .user .useravatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px #666666 solid;
}
header .logo-rightside .login .user .user-cover {
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
  background: #fff;
  box-shadow: 0 0 3px #3f3f3f;
  position: absolute;
  border-radius: 6px;
  top: 0px;
  right: 20px;
  width: 300px;
  height: 300px;
  z-index: 2;
  cursor: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
header .logo-rightside .login .user .user-cover .user-cover-header {
  width: 100%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .logo-rightside .login .user .user-cover .user-cover-header .user-cover-username {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.2rem;
}
header .logo-rightside .login .user .user-cover .user-cover-footer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 10px;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a {
  padding: 0.3rem 0.8rem;
  width: 100%;
  min-height: 1.5rem;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 0.16s;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a i {
  margin-right: 0.5rem;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a:hover {
  background: #9d2933;
  color: #fff;
}
header .logo-rightside .login .user:hover .user-cover {
  transform: translateY(40px);
  visibility: visible;
  opacity: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-size;
  font-family: sans-serif;
}
::selection {
  color: #fff;
  background: #9d2933;
}
::-moz-selection {
  color: #fff;
  background: #9d2933;
}
::-webkit-selection {
  color: #fff;
  background: #9d2933;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  font-size: 15px;
}
.leftbar-container {
  position: fixed;
  height: calc(100vh - 60px - 3rem);
  z-index: 1;
  width: 6.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftbar {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  grid-row-gap: 1.5rem;
}
.leftbar .leftbar-star,
.leftbar .leftbar-collect,
.leftbar .leftbar-comment {
  width: 100%;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 1.5rem;
  transition: 0.2s;
}
.leftbar .leftbar-star:hover,
.leftbar .leftbar-collect:hover,
.leftbar .leftbar-comment:hover {
  border: 2px dashed rgba(157, 41, 51, 0.5);
}
.leftbar .leftbar-star:hover i,
.leftbar .leftbar-collect:hover i,
.leftbar .leftbar-comment:hover i {
  font-size: 1.6rem;
  color: #9d2933;
}
.leftbar .leftbar-star .leftbar-i-container,
.leftbar .leftbar-collect .leftbar-i-container,
.leftbar .leftbar-comment .leftbar-i-container {
  flex-grow: 1;
  padding: 0.6rem;
}
.leftbar .leftbar-star p,
.leftbar .leftbar-collect p,
.leftbar .leftbar-comment p {
  font-size: 0.8rem;
}
.main-header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
  border-bottom: 0.8px #ddd solid;
}
.main-header-container .main-header-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header-container .main-header-avatar-container .main-header-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.main-header-container .main-header-message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0.8rem;
}
.main-header-container .main-header-message .main-header-upto {
  color: #666;
}
.main-user-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  padding: 0.8rem;
}
.main-user-message .main-user-avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.main-user-message .main-user-avatar-container .main-user-avatar {
  width: 5.2rem;
  height: 5.2rem;
  margin-bottom: 0.3rem;
  border-radius: 50%;
  object-fit: cover;
  background: #eee;
}
.main-user-message .main-user-avatar-container .main-user-username {
  display: flex;
  justify-content: center;
  align-items: center;
  color: 1.2rem;
  font-weight: 700;
}
.main-user-message .main-user-message-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.46rem;
  margin-bottom: 1rem;
  width: 100%;
}
.main-user-message .main-user-message-container .main-user-articalnum-container,
.main-user-message .main-user-message-container .main-user-thumbsup-container,
.main-user-message .main-user-message-container .main-user-star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s;
  color: #666;
}
.main-user-message .main-user-message-container .main-user-articalnum-container:hover,
.main-user-message .main-user-message-container .main-user-thumbsup-container:hover,
.main-user-message .main-user-message-container .main-user-star-container:hover {
  color: #9d2933;
}
.main-user-message .main-user-message-container .main-user-articalnum-container div,
.main-user-message .main-user-message-container .main-user-thumbsup-container div,
.main-user-message .main-user-message-container .main-user-star-container div {
  padding: 0.7rem;
  border-radius: 50%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-user-message .main-user-message-container .main-user-articalnum-container p,
.main-user-message .main-user-message-container .main-user-thumbsup-container p,
.main-user-message .main-user-message-container .main-user-star-container p {
  font-size: 1rem;
}
.main-user-message .main-user-footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.main-user-message .main-user-footer-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0eeff;
  border: 1px solid #99d3f5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}
.main-user-message .main-user-footer-container button:hover {
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
}
.main-user-message .main-user-footer-container button i {
  margin-right: 0.5rem;
}
.main-user-message .main-user-footer-container .main-user-follow-btn-active {
  background: #1e88c7;
  color: #d0eeff;
  outline: none;
  border: 1px solid #1e88c7;
}
.main-user-message .main-user-footer-container .main-user-follow-btn-active:hover {
  background: #1e88c7;
  border: 1px solid #1e88c7;
  color: #d0eeff;
}
.main {
  padding: 1rem 0rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 52% 22%;
  justify-content: center;
  grid-column-gap: 3rem;
}
.main .leftsight {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-content: start;
  grid-row-gap: 1rem;
  width: 100%;
}
.recommendread-main {
  display: flex;
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  padding: 0.8rem;
}
.shadow-1 {
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
}
.shadow-2 {
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
.p-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img-src-center {
  object-fit: cover;
}
.input-1 {
  border: 1px solid #999999;
  border-radius: 3.8px;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition-duration: 0.3s;
}
.input-1:hover {
  border: 1px solid #9d2933;
}
.button-1 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-1:hover {
  color: #000;
}
.button-122 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-122:hover {
  color: #000;
}
.button-2-active {
  background: #1e88c7;
  color: #d0eeff;
  outline: none;
  border: 1px solid #1e88c7;
}
.button-2-active:hover {
  background: #1e88c7;
  border: 1px solid #1e88c7;
  color: #d0eeff;
}
.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0eeff;
  border: 1px solid #99d3f5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}
.button-2:hover {
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
}
.button-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-3:hover {
  background: #9d2933;
  color: #fff;
}
.button-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #999999;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-4:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.button-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-5:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.editormd-preview-container,
.editormd-html-preview {
  font-size: inherit;
}
.test-editormd,
#test-editormd {
  font-size: 1.1rem;
  padding: 0px;
  color: #636b6f;
}
.test-editormd .video-player div small.title,
#test-editormd .video-player div small.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}
.test-editormd .editormd-github-link-icon,
#test-editormd .editormd-github-link-icon {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.test-editormd .linkcard-container,
#test-editormd .linkcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.test-editormd .linkcard-container .linkcard,
#test-editormd .linkcard-container .linkcard {
  line-height: normal;
  text-decoration: none;
  width: 20rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  height: 5.2rem;
  border-radius: 0.8rem;
  margin: 0.6rem;
  margin-left: 4.6rem;
  margin-right: 4.6rem;
  transition: 0.3s;
  cursor: pointer;
  padding: 1rem;
}
.test-editormd .linkcard-container .linkcard .linkcard-main,
#test-editormd .linkcard-container .linkcard .linkcard-main {
  flex-grow: 1;
  color: #666;
}
.test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-title,
#test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: normal;
  text-overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
}
.test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container,
#test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container i,
#test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container i {
  margin-right: 0.3rem;
  font-size: 0.93rem;
  margin-top: 0.18rem;
}
.test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container .linkcard-main-url,
#test-editormd .linkcard-container .linkcard .linkcard-main .linkcard-main-url-container .linkcard-main-url {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-editormd .linkcard-container .linkcard .linkcard-img,
#test-editormd .linkcard-container .linkcard .linkcard-img {
  width: 5rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: none;
  padding: 0;
  background: url(../../images/editor/web.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.test-editormd .linkcard-container .linkcard:hover,
#test-editormd .linkcard-container .linkcard:hover {
  background: #ccc;
}
.test-editormd .img-container,
#test-editormd .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test-editormd .img-container img,
#test-editormd .img-container img {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
}
.test-editormd .img-container .img-p-small,
#test-editormd .img-container .img-p-small {
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: 100%;
}
.test-editormd pre.prettyprint,
#test-editormd pre.prettyprint {
  border: none;
}
.test-editormd ol.linenums,
#test-editormd ol.linenums {
  color: #999;
}
.test-editormd blockquote,
#test-editormd blockquote {
  padding-left: 0.8rem;
  font-style: normal;
}
.test-editormd hr,
#test-editormd hr {
  margin: 3rem;
  margin-right: 5rem;
  margin-left: 5rem;
}
.test-editormd pre ol li,
#test-editormd pre ol li {
  background: none;
}
.test-editormd p,
#test-editormd p {
  line-height: 2.33rem;
}
.test-editormd p code,
#test-editormd p code {
  color: #9d2933;
  font-weight: 700;
  border: none;
}
.editormd ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radisu: 0px;
}
.editormd ::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.05);
}
.toc-container {
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
}
.toc-container p {
  margin-bottom: 0.8rem;
}
.tags-artical-container {
  display: flex;
  flex-flow: wrap;
}
.tags-artical-container .tag-container {
  cursor: pointer;
  color: #9d2933;
  display: flex;
  padding: 0.2rem 0.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px #eee solid;
  transition: 0.3s;
  margin: 0.33rem;
}
.tags-artical-container .tag-container:hover {
  border: 1px #aaa solid;
}
.tags-artical-container .tag-container:hover i {
  color: #666;
}
.tags-artical-container .tag-container i {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}
.tags-artical-container .tag-container .tag-text {
  margin-right: 0.23rem;
  color: #666;
}
@media screen and (min-width: 300px) and (max-width: 479px) {
  * {
    box-sizing: border-size;
    margin: 0px;
    padding: 0px;
  }
  header {
    all: unset;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    height: 66px;
    display: flex;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  header .logo-rightside .links {
    transform: translateY(-2px);
  }
  header .logo-rightside .links li {
    margin-right: 0.6rem;
  }
  header .logo-rightside .search-container {
    display: none;
  }
  header .logo-rightside .toolbar-bell {
    display: none;
  }
  header .logo-rightside .login .btn-login,
  header .logo-rightside .login .btn-signup {
    all: unset;
    padding: none;
    margin: none;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    margin-right: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    border: 1px #9d2933 solid;
  }
  header .logo-rightside .user {
    display: none;
  }
  .leftbar-container {
    all: unset;
    z-index: 10000000;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  .leftbar-container .leftbar {
    all: unset;
    display: flex;
  }
  .leftbar-container .leftbar .leftbar-star,
  .leftbar-container .leftbar .leftbar-collect,
  .leftbar-container .leftbar .leftbar-comment {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftbar-container .leftbar .leftbar-star:hover i,
  .leftbar-container .leftbar .leftbar-collect:hover i,
  .leftbar-container .leftbar .leftbar-comment:hover i {
    font-size: unset;
  }
  .leftbar-container .leftbar .leftbar-star .leftbar-i-container,
  .leftbar-container .leftbar .leftbar-collect .leftbar-i-container,
  .leftbar-container .leftbar .leftbar-comment .leftbar-i-container {
    padding: unset;
    padding-right: 0.3rem;
    flex-grow: unset;
  }
  .leftbar-container .leftbar .leftbar-star p,
  .leftbar-container .leftbar .leftbar-collect p,
  .leftbar-container .leftbar .leftbar-comment p {
    all: unset;
    white-space: nowrap;
  }
  .leftbar-container .leftbar .leftbar-comment,
  .leftbar-container .leftbar .leftbar-collect {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
  }
  .leftbar-container .leftbar .leftbar-comment .leftbar-i-container,
  .leftbar-container .leftbar .leftbar-collect .leftbar-i-container {
    padding: unset;
    paddgin-right: 0.3rem;
  }
  .leftbar-container .leftbar .leftbar-comment i,
  .leftbar-container .leftbar .leftbar-collect i {
    padding: 0.3rem;
    flex-grow: unset;
  }
  .leftbar-container .leftbar .leftbar-star {
    width: 90px;
    border: 2px #9d2933 solid;
    border-radius: 1.8rem;
    margin: 0.3rem;
    display: flex;
    font-size: 1.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .leftbar-container .leftbar .leftbar-star p {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftbar-container .leftbar .leftbar-collect {
    flex-grow: 1;
  }
  #test-editormd {
    overflow: hidden;
  }
  #test-editormd .markdown-body li,
  #test-editormd .markdown-body ol {
    padding-left: 1.6rem;
  }
  #test-editormd ol.linenums {
    padding-left: 1rem;
  }
  #test-editormd img {
    all: unset;
    width: 100%;
  }
  #test-editormd .linkcard-container .linkcard {
    width: 80%;
    margin-left: unset;
    margin-right: unset;
  }
  .main-user-message {
    all: unset;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    padding: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "avatar message message" "avatar footer footer";
  }
  .main-user-message .main-user-message-container {
    flex-wrap: wrap;
    grid-area: message;
  }
  .main-user-message .main-user-message-container .main-user-articalnum-container,
  .main-user-message .main-user-message-container .main-user-thumbsup-container,
  .main-user-message .main-user-message-container .main-user-star-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #666;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .main-user-message .main-user-message-container .main-user-articalnum-container div,
  .main-user-message .main-user-message-container .main-user-thumbsup-container div,
  .main-user-message .main-user-message-container .main-user-star-container div {
    all: unset;
  }
  .main-user-message .main-user-message-container .main-user-articalnum-container div i,
  .main-user-message .main-user-message-container .main-user-thumbsup-container div i,
  .main-user-message .main-user-message-container .main-user-star-container div i {
    margin-right: 0.3rem;
  }
  .main-user-message .main-user-message-container .main-user-articalnum-container p,
  .main-user-message .main-user-message-container .main-user-thumbsup-container p,
  .main-user-message .main-user-message-container .main-user-star-container p {
    margin-right: 0.3rem;
  }
  .main-user-message .main-user-avatar-container {
    grid-area: avatar;
    margin-bottom: unset;
  }
  .main-user-message .main-user-footer-container {
    grid-area: footer;
  }
  .recommendread-main {
    all: unset;
    display: flex;
    padding: 0.8rem;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  }
  .main {
    all: unset;
    margin-bottom: 50px;
  }
  .main .middle {
    margin: 0.8rem;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
