@import url(../header.less);
@import url(../common.less);
@import url(mainheader.less);
@import url(mainuser.less);
@import url(main.less);
@import url(recommendread.less);
@import url(../theme/theme.less);
@import url(editor-preview.less);
// 浏览帖子界面样式

body{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
