.search-container {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container .search-input {
  border: 1px solid #999999;
  border-radius: 3.8px;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition-duration: 0.3s;
}
.search-container .search-input:hover {
  border: 1px solid #9d2933;
}
.search-container .search-button {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
  margin-left: 0.5rem;
}
.search-container .search-button:hover {
  color: #000;
}
.toolbar-bell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
header {
  height: 60px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
header .logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}
header .logo:hover {
  color: #999;
}
header .logo-rightside {
  margin-left: 1rem;
  display: flex;
  flex-grow: 1;
}
header .logo-rightside .links {
  display: flex;
  align-items: center;
  flex-grow: 2;
}
header .logo-rightside .links li {
  margin-right: 1.2rem;
}
header .logo-rightside .links li a {
  transition-duration: 0.5s;
  font-weight: 500;
  font-size: 1.2rem;
  color: #666666;
}
header .logo-rightside .links li:hover a {
  color: #9d2933;
}
header .logo-rightside .login {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}
header .logo-rightside .login .btn-login,
header .logo-rightside .login .btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
  margin: 0.3rem;
}
header .logo-rightside .login .btn-login:hover,
header .logo-rightside .login .btn-signup:hover {
  background: #9d2933;
  color: #fff;
}
header .logo-rightside .login .user {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.3s linear;
}
header .logo-rightside .login .user .username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 0.55rem;
}
header .logo-rightside .login .user .useravatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px #666666 solid;
}
header .logo-rightside .login .user .user-cover {
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
  background: #fff;
  box-shadow: 0 0 3px #3f3f3f;
  position: absolute;
  border-radius: 6px;
  top: 0px;
  right: 20px;
  width: 300px;
  height: 300px;
  z-index: 2;
  cursor: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
header .logo-rightside .login .user .user-cover .user-cover-header {
  width: 100%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .logo-rightside .login .user .user-cover .user-cover-header .user-cover-username {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.2rem;
}
header .logo-rightside .login .user .user-cover .user-cover-footer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 10px;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a {
  padding: 0.3rem 0.8rem;
  width: 100%;
  min-height: 1.5rem;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 0.16s;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a i {
  margin-right: 0.5rem;
}
header .logo-rightside .login .user .user-cover .user-cover-footer a:hover {
  background: #9d2933;
  color: #fff;
}
header .logo-rightside .login .user:hover .user-cover {
  transform: translateY(40px);
  visibility: visible;
  opacity: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-size;
  font-family: sans-serif;
}
::selection {
  color: #fff;
  background: #9d2933;
}
::-moz-selection {
  color: #fff;
  background: #9d2933;
}
::-webkit-selection {
  color: #fff;
  background: #9d2933;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  font-size: 15px;
}
.main-header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
  border-bottom: 0.8px #ddd solid;
}
.main-header-container .main-header-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header-container .main-header-avatar-container .main-header-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.main-header-container .main-header-message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0.8rem;
}
.main-header-container .main-header-message .main-header-upto {
  color: #666;
}
.main-user-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  padding: 0.8rem;
}
.main-user-message .main-user-avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.main-user-message .main-user-avatar-container .main-user-avatar {
  width: 5.2rem;
  height: 5.2rem;
  margin-bottom: 0.3rem;
  border-radius: 50%;
  object-fit: cover;
  background: #eee;
}
.main-user-message .main-user-avatar-container .main-user-username {
  display: flex;
  justify-content: center;
  align-items: center;
  color: 1.2rem;
  font-weight: 700;
}
.main-user-message .main-user-message-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.46rem;
  margin-bottom: 1rem;
  width: 100%;
}
.main-user-message .main-user-message-container .main-user-articalnum-container,
.main-user-message .main-user-message-container .main-user-thumbsup-container,
.main-user-message .main-user-message-container .main-user-star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s;
  color: #666;
}
.main-user-message .main-user-message-container .main-user-articalnum-container:hover,
.main-user-message .main-user-message-container .main-user-thumbsup-container:hover,
.main-user-message .main-user-message-container .main-user-star-container:hover {
  color: #9d2933;
}
.main-user-message .main-user-message-container .main-user-articalnum-container div,
.main-user-message .main-user-message-container .main-user-thumbsup-container div,
.main-user-message .main-user-message-container .main-user-star-container div {
  padding: 0.7rem;
  border-radius: 50%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-user-message .main-user-message-container .main-user-articalnum-container p,
.main-user-message .main-user-message-container .main-user-thumbsup-container p,
.main-user-message .main-user-message-container .main-user-star-container p {
  font-size: 1rem;
}
.main-user-message .main-user-footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.main-user-message .main-user-footer-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #999999;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.main-user-message .main-user-footer-container button:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.main-user-message .main-user-footer-container button i {
  margin-right: 0.5rem;
}
.main {
  padding: 1rem 0rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 23%;
  justify-content: center;
  grid-column-gap: 1.2rem;
}
.main .leftsight {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-content: start;
  grid-row-gap: 1rem;
  width: 100%;
}
.recommendread-main {
  display: flex;
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  padding: 0.8rem;
}
.shadow-1 {
  -webkit-box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
}
.p-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img-src-center {
  object-fit: cover;
}
.input-1 {
  border: 1px solid #999999;
  border-radius: 3.8px;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition-duration: 0.3s;
}
.input-1:hover {
  border: 1px solid #9d2933;
}
.button-1 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-1:hover {
  color: #000;
}
.button-122 {
  border: none;
  color: #999999;
  background: transparent;
  transition-duration: 0.3s;
  outline: none;
}
.button-122:hover {
  color: #000;
}
.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0eeff;
  border: 1px solid #99d3f5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  outline: none;
}
.button-2:hover {
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
}
.button-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-3:hover {
  background: #9d2933;
  color: #fff;
}
.button-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #999999;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-4:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
.button-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d2933;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #9d2933;
  text-decoration: none;
  transition-duration: 0.3s;
  outline: none;
}
.button-5:hover {
  border: 1px solid #9d2933;
  background: #9d2933;
  color: #fff;
}
#test-editormd {
  font-size: 1.22rem;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
