@import url(../theme/theme.less);

.makepost-container{
    display: flex;
    flex-direction: column;
    box-shadow    : @boxShadow;
    border-radius          : .3rem;
    .makepost-title-container{
	.makepost-title{
	    color: #666;
	    font-weight: 300;
	}
    }
    .makepost-main-container{
	flex-grow: 1;
	display:flex;
	justify-content: center;
	align-item:center;
	.makepost-main-artical-container{
	    cursor:pointer;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    i{
		transition:1s;
	    }
	    &:hover{
		i{
		    color: #862028;
		}
		.makepost-main-artical-i-container{
		    background:rgba(228,125,125,.5);
		}
		.makepost-main-makeartical{
		    color: @theme-color-light;
		}
	    }
	    .makepost-main-artical-i-container{
		display:flex;
		justify-content: center;
		align-items:center;
		border-radius: 50%;
		background: rgba(236,162,162,.5);
		padding: .5rem;
		width: 1.5rem;
		height: 1.5rem;
		font-size:1.3rem;
		color: @theme-color-light;
		transition:.3s;
	    }
	    .makepost-main-makeartical{
		color:#666;
		transition: .3s;
	    }
	}
    }
    .makepost-footer-container{
	margin-top: .5rem;
	display:flex;
	justify-content: space-around;
	.makepost-sendpost{
	    .button-4();   
	    background: #fff;
	}
	.makepost-sign{
	    .button-5();
	    background: #fff;
	}
    }
}

